.big{
    background-color: #1C1304;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m{
    display: flex;

}
ul{
    list-style: none;
}
h2{
    color: #A8762F;
}
.card{
    background-color: #3D2727;
    width: 80px;
    height: 80px;
    margin:10px;
}