

.bd {
    background-image: linear-gradient(black, rgb(63, 62, 62));
    height: 100vh;
    max-width: 100svw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #855A1D;
    padding: 50px;
    border-radius: 15px;
    width: 40%;
    box-shadow: 0 0 20px rgba(193, 192, 192, 0.4);
      display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
}


label {
    color: #fff;
    margin-bottom: 5px;
    display: block;
}


input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px solid #422b0b;
   
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 80%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 10px;
        background-color: #3f2602;

    color: #fff;
    font-size: 16px;
    position: relative;
    left: 50px;
    cursor: pointer;
}
button:hover{
    background: #4e3209;
}
.x{
    width: 40%;
}

.valid {
    color: green;
}

.noValid {
    color: red;
}