* {
    margin: 0px;
    padding: 0px;
    position: relative;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

body {
    max-width: 100svw;
    height: 100svh;
}

:root {
    --dark-background: #12151a;
    --light-background: #1c1d22;
    --gold-font: #eacc96;
    --light-font: #9e947d;
    --spetial-card: #0f2a30;
    --special-color:#c9a227;
}

/* for main page */
main{
    height: 100vh;
    background: url("./images/main.jpeg") center/cover no-repeat;
    position: relative;
}
main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.666);
}


.navbar-brand{
    font-size: 2.5rem;
    color: var(--gold-font);
}
.nav-link:hover {
    color: var(--special-color);
}

h1{
    color: wheat;
}

.btn-gold {
    background-color: var(--special-color);
    color: white;
    border-radius: 30px;
    padding: 10px 25px;
}

.btn-outline-gold {
    border: 1px solid #c9a227;
    border-radius: 30px;
    padding: 10px 25px;
}

.btn-gold:hover {
    background-color: var(--special-color);
}

.btn-outline-gold:hover {
    background-color: #c9a227;
    color: white;
}
.btn a{
    color: white;
    text-decoration: none;
}

/* for about us */
.about {
    background-color: var(--dark-background);
}

.text-about {
    color: var(--light-font);
}

.text-gold {
    color: var(--gold-font);
    letter-spacing: 2px;
}

.col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-img img {
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
}

.about-content {
    background-color: var(--spetial-card);
    border-radius: 10px;
}

.btn-gold {
    background-color: #c5ae82;
    color: #000;
    padding: 10px 25px;
    border-radius: 4px;
    font-weight: bold;
}

.btn-gold:hover {
    background-color: var(--light-font);
}


/* for menu section */
.menu {
    background-color: var(--light-background);
    padding: 20px;
    height: 550px;
    overflow-y: scroll;
}

.menu h2 {
    color: var(--gold-font);
    text-align: center;
    font-size: 2.5rem;
}

.line-menu {
    width: 100px;
    height: 5px;
    position: relative;
    left: 45%;
    border-radius: 10px;
    background-color: #9e947d91;
    margin: 20px 0px;
}

.categories {
    color: var(--gold-font);
    cursor: pointer;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.categories span:hover {
    color: var(--light-font);
    font-weight: bold;
}


.menu-card {
    background-color: var(--dark-background);
    border: 1px solid var(--gold-font);
    border-radius: 20px;
    position: relative;
    transition: 0.3s ease;
}

.menu-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(200, 169, 106, 0.3);
}

.img-card {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid var(--gold-font);
    margin-top: -70px;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.price {
    position: absolute;
    top: -15px;
    right: 50%;
    background-color: #b38731;
    padding: 3px 6px;
    border-radius: 0px 10px;
    font-weight: bold;
    font-size: 0.8rem;
}

/* for spetial */
.special {
    background-color: #0f1c22;
}

.menu-item {
    margin-bottom: 25px;
}
/* for spetial */
.special-section {
    background-color: var(--dark-background);
    color: white;
    padding: 20px;
}

.special-img img {
    width: 70%;
    height: 70%;
    border-radius: 20px;
    object-fit: cover;
}

.special-content {
    padding-left: 20px;
}

.sub-title {
    color: #caa24d;
    font-size: 14px;
    letter-spacing: 2px;
}

.special-content h2 {
    font-size: 40px;
    margin: 15px 0 40px;
}

.menu-item {
    margin-bottom: 30px;
}

.menu-item .top {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-item h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.menu-item .top::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #caa24d;
    margin: 0 15px;
    opacity: 0.5;
}

.menu-item span {
    color: #caa24d;
    font-weight: bold;
}

.menu-item p {
    font-size: 14px;
    color: #aaa;
    margin-top: 8px;
}

.view-btn {
    margin-top: 30px;
    padding: 12px 30px;
    background-color: #caa24d;
    border: none;
    color: black;
    border-radius: 5px;
    transition: 0.3s;
}

.view-btn:hover {
    background-color: #e5b85a;
}
.sss{
    color: var(--gold-font);
    font-size: 30px;
    text-shadow: 2px 2px 20px black;

}
.ssss{
    color: wheat;
}








.big{
    background-color: var(--light-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m{
    display: flex;


}
iframe{
    height: 350px;
    width: 500px;
    padding: 20px;
    
}
.us{
    font-size: 30px;
    padding: 20px;
    color: #caa24d;
    text-shadow: 6px 6px 10px black;
}
ul{
    list-style: none;
}
h2{
    font-size: 20px;
    color: #2c2c2b;
}
.carts{
    display: flex;
   
}
.ss{
    color: #A8762F;
}
.a{
    padding: 20px;

}
i{
    font-size: 30px;
    color: #000;
    padding: 5px;
}
h3{
    color: white;
    padding: 5px;
    font-size: 18px;
}

.cart{
    padding: 10px;
    display: flex;
    flex-direction: column;
     justify-content: center;
     align-items: center;
    background-color: #caa24d;
    width: 130px;
    height: 130px;
    margin:10px;
    border-radius: 20px;
    box-shadow: 6px 6px 20px black;
}
.cart :hover{
    border:1px solid  #caa24d;
    
}
ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
ul li a{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
.footer{
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: wheat;
    background-color: var(--dark-background);
    height: 40px;
    padding-top: 10px;
    
}
@media (max-width:425px) {
    iframe{
        display: none;
    }
    
}
